Django==4.2.23       
psycopg2-binary==2.9.10  
requests==2.32.3        
python-dotenv==1.1.0    
strawberry-graphql==0.269.0
strawberry-graphql-django==0.59.1
django-cors-headers==4.7.0
django-redis==6.0.0
redis==6.2.0