# Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Django Secret Key
SECRET_KEY=secret_key

# GitHub API Token
GITHUB_TOKEN=your_github_token_here

# Redis Configuration
REDIS_URL=redis://redis:6379/1

# Allowed Origins (comma-separated)
ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,http://frontend:3000